In [ ]:
# need to do is to read the HTML for this article into Python, we'll do using the requests library
import datetime
import requests
r = requests.get('https://www.dhakatribune.com/hashtag/road-accident')

In [ ]:
# print the first 500 characters of the HTML
print(r.text[0:500])

<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:app_id" content="403175913072993" />
<meta property="fb:pages" content="356336144441710" />
<meta name="google-site-verification" content="rwA20GxfB6VqAxg3mvoyLC9j1ORIq1UL1N48kAl2VyI" /> <title>Dhaka Tribune | Road Accident  news update in Bangladesh, World</title>
<meta property="t

In [ ]:
#to parse the HTML using the Beautiful Soup 4 library
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text, 'html.parser')

In [ ]:
#This code searches the soup object for all <div> tags with the attribute class="top-news-cont list-para"
results = soup.find_all('div', attrs={'class':'top-news-cont list-para'})

In [ ]:
results

In [ ]:
#length of the results
len(results)

21

In [ ]:
#We can also slice the object like a list, in order to examine the list
results[0:21]

In [ ]:
#to see the first result
results[0]

<div class="top-news-cont list-para">
<a href="/world/africa/2021/08/03/37-killed-in-road-accident-in-central-mali">
<h4 class="news-title">
37 killed in road accident in central...
</h4>
</a>
<div class="listing-time">
<a href="/articles/world/africa">Africa</a>
<h4>Tue, Aug 3 2021 </h4>
</div>
<p>
Road accidents are a regular occurrence in the former French colony, where the poor state of the motorways...
</p>
</div>

In [ ]:
#we'll start by only working with the first record in the results object, and then later on we'll modify our code to use a loop
first_result = results[0]
first_result

<div class="top-news-cont list-para">
<a href="/world/africa/2021/08/03/37-killed-in-road-accident-in-central-mali">
<h4 class="news-title">
37 killed in road accident in central...
</h4>
</a>
<div class="listing-time">
<a href="/articles/world/africa">Africa</a>
<h4>Tue, Aug 3 2021 </h4>
</div>
<p>
Road accidents are a regular occurrence in the former French colony, where the poor state of the motorways...
</p>
</div>

In [ ]:
#find() method to find a single tag that matches a specific pattern, in contrast to the find_all() method we used above to find all tags that match a pattern
first_result.find('a')

<a href="/bangladesh/nation/2021/02/26/7-killed-in-sylhet-road-accident">
<h4 class="news-title">
Road accidents claim 24 lives across...
</h4>
</a>

In [ ]:
first_result.find('a')['href']

'/bangladesh/nation/2021/02/26/7-killed-in-sylhet-road-accident'

In [ ]:
#Slice down the unnecessary text
first_result.find('h4').text

'\n37 killed in road accident in central...\n'

In [ ]:
first_result.find('h4').text[1:-4]

'Road accidents claim 24 lives across'

In [ ]:
first_result.find('p').text

'\nAt least 26 people sustained injuries\n'

In [ ]:
first_result.find('p').text[1:-4]

'At least 26 people sustained injur'

In [ ]:
##This code searches the soup object for all <div> tags with the attribute class="listing-time" to extrat the datetimeand we used myresults acts like a Python list
myresults = soup.find_all('div', attrs={'class':'listing-time'})

In [ ]:
len(myresults)

21

In [ ]:
myresults[0:21]

[<div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Fri, Feb 26 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh">Bangladesh</a>
 <h4>Tue, Feb 23 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Tue, Feb 23 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/chittagong">Chittagong</a>
 <h4>Mon, Feb 22 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Sun, Feb 21 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Fri, Feb 19 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/world/north-america">North America</a>
 <h4>Fri, Feb 19 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/dhaka">Dhaka</a>
 <h4>Thu, Feb 18 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Wed, Feb 10 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Wed, Feb 10 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh">Bangladesh</a>
 <h4>Tue, Feb 9 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh">Bangladesh</a>
 <h4>Sat, Feb 6 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Sat, Feb 6 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Fri, Feb 5 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Thu, Feb 4 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/world/africa">Africa</a>
 <h4>Wed, Feb 3 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/dhaka">Dhaka</a>
 <h4>Thu, Jan 28 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/nation">Nation</a>
 <h4>Thu, Jan 21 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/bangladesh/dhaka">Dhaka</a>
 <h4>Wed, Jan 20 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/accident">Accident</a>
 <h4>Tue, Jan 19 2021 </h4>
 </div>,
 <div class="listing-time">
 <a href="/articles/world/east-asia">East Asia</a>
 <h4>Tue, Jan 19 2021 </h4>
 </div>]

In [ ]:
myresults[0]

<div class="listing-time">
<a href="/articles/bangladesh/nation">Nation</a>
<h4>Fri, Feb 26 2021 </h4>
</div>

In [ ]:
first_result = myresults[0]
first_result

<div class="listing-time">
<a href="/articles/bangladesh/nation">Nation</a>
<h4>Fri, Feb 26 2021 </h4>
</div>

In [ ]:
first_result.find('h4').text

'Fri, Feb 26 2021 '

In [ ]:
#Now that we've figured out how to extract the components of first_result, we can create a loop to repeat this process on all 21 results. We'll store the output in a list of tuples called records
records = []

for result in results:
    Title = result.find('h4').text[1:-4]
    Info = result.find('p').text[1:-4]
    url = result.find('a')['href']
    records.append((Title, Info, url))

In [ ]:
# We can convert our list of tuples into a DataFrame by passing it to the DataFrame constructor and specifying the desired column names
import pandas as pd
df = pd.DataFrame(records, columns=['Title', 'Info', 'url'])

In [ ]:
#Make another tuple called records1 for datetime
records1 = []

for result in myresults:
    Date = result.find('h4').text
    records1.append((Date))

In [ ]:
# We can convert our list of tuples into a DataFrame by passing it to the DataFrame constructor and specifying the desired column names
import pandas as pd
df1 = pd.DataFrame(records1, columns=['Date'])

In [ ]:
#concatenate df and df1 or adding dataframes
df_DhakaTribune = pd.concat([df, df1],axis=1)

df_DhakaTribune

NameError: ignored

In [ ]:
df_DhakaTribune.head()

,Title,Info,url,Date
0,Road accidents claim 24 lives across,At least 26 people sustained injur,/bangladesh/nation/2021/02/26/7-killed-in-sylh...,"Fri, Feb 26 2021"
1,2 killed in Chapainawabganj road,Police have seized the deadly truck and arrest...,/bangladesh/2021/02/23/2-killed-in-chapainawab...,"Tue, Feb 23 2021"
2,"6 die in Sirajganj, Rajshahi road",Police say seven of the 23 injured are in crit...,/bangladesh/nation/2021/02/23/5-killed-23-inju...,"Tue, Feb 23 2021"
3,Bus-truck collision leaves 2 dead in,Police seized the two vehic,/bangladesh/chittagong/2021/02/22/bus-truck-co...,"Mon, Feb 22 2021"
4,6 killed in Bogra bus-truck,The bus was recklessly overtaking another vehi...,/bangladesh/nation/2021/02/21/6-killed-in-bogr...,"Sun, Feb 21 2021"

In [ ]:
df_DhakaTribune.tail()

,Title,Info,url,Date
16,10-year-old boy killed in Dhaka road,The accident happened in the capital’s Hazarib...,/bangladesh/dhaka/2021/01/28/10-year-old-boy-k...,"Thu, Jan 28 2021"
17,3 die as car falls into ditch in,Five others taken to hospital in critical condit,/bangladesh/nation/2021/01/21/3-die-as-jeep-fa...,"Thu, Jan 21 2021"
18,One killed in Dhaka road accid,Police yet to identify the decea,/bangladesh/dhaka/2021/01/20/one-killed-in-dha...,"Wed, Jan 20 2021"
19,Policeman dies in Dhaka r,The police officer’s body was handed over to h...,/accident/2021/01/19/policeman-dies-in-road-ac...,"Tue, Jan 19 2021"
20,Chaos as snow hits Japan,Some 200 people were caught up in the crashes ...,/world/east-asia/2021/01/19/chaos-as-snow-hits...,"Tue, Jan 19 2021"

In [ ]:
#Convert dataframe into csv file
df_DhakaTribune.to_csv('Dhaka tribune_page1.csv', index=False, encoding='utf-8')

In [ ]:
#Code for Extracting Paragraph for separte article or road accident news...
import re
import nltk
import newspaper
from newspaper import Article
url = 'https://www.dhakatribune.com/bangladesh/nation/2021/02/23/5-killed-23-injured-in-bus-truck-collision-in-sirajganj'

ModuleNotFoundError: ignored

In [ ]:
article = Article(url)
article.download()
article.parse()

In [ ]:
print(article.text)

Photo: Dhaka Tribune

Police say seven of the 23 injured are in critical condition



At least six people were killed and 23 others were injured in two separate incidents of head-on-collision between a bus and a truck in Sirajganj and Rajshahi on Tuesday.

In Sirajganj, at least five people were killed and 15 others were injured in a head-on collision between a bus and a truck at Konabari in Kamarkhand upazila.

One of the deceased was identified as Fazlul Haque, a 78-year-old freedom fighter from Bogra district. Identities of other victims are yet to be established, reports UNB.

The accident occurred around 7:30am on Bangabandhu Bridge West Link highway.

"The Mymensingh-bound bus ferrying passengers from Bogra crashed into the truck coming from the opposite direction this morning," said Officer-in-Charge of Bangabandhu Bridge west police station Mosaddek Hossain.

The impact of the collision was such that five people were killed on the spot, while 23 others sustained injuries, he said.

Those injured were immediately rushed to 250-bed Bangamata Sheikh Fazilatunnesa Mujib General Hospital. "Of the 15 injured, seven people are said to be in a critical condition," the officer said.

The bodies have been sent to the local hospital morgue for autopsy.

Meanwhile, in Rajshahi, another man died and at least eight others were injured in a head-on collision between a bus and a truck in the city.

The incident took place around 11am on Tuesday when smoke from burning trash covered the Citihat area, reducing visibility on the road.

Following the accident, Fire Service and Civil Defence rushed to the spot rescued the injured and sent them to Rajshahi Medical College Hospital (RMCH).

One of the victims was declared dead at the hospital. The deceased identified as Md Zaman was the truck driver.

Shah Makhdum police station OC Saiful Islam said: “The road has been cleared off. The injured are receiving treatment at the RMCH. After the legal process, the body of the victim will be handed over to the family.”

Road accidents in Bangladesh

Road accidents are one of the leading causes of deaths in Bangladesh, as 37,170 people were killed in 26,902 accidents across the country in the past five years.

In January 2021 alone, as many as 484 people were killed and 673 injured in 427 road accidents across Bangladesh -- a 25.58% rise year-on-year, according to Road Safety Foundation (RSF).

At least 445 lives were lost in 340 road accidents in January last year, RSF said on Saturday.

World Bank Report on road safety

As per a World Bank report, published in February 2020, Bangladesh needs to invest an estimated extra $7.8 billion over the next decade to halve its road crash fatalities.

The report attributed the high death rate on Bangladesh roads to a chronic lack of investment in systemic, targeted, and sustained road safety programs.

The annual road crash deaths per capita in Bangladesh are twice the average rate for high-income countries and five times that of the best-performing countries in the world, it said.

Children and the working-age population are most affected by road crash injuries in Bangladesh, the World Bank report added.

In [ ]:
article.text

'Photo: Dhaka Tribune\n\nPolice say seven of the 23 injured are in critical condition\n\n\n\nAt least six people were killed and 23 others were injured in two separate incidents of head-on-collision between a bus and a truck in Sirajganj and Rajshahi on Tuesday.\n\nIn Sirajganj, at least five people were killed and 15 others were injured in a head-on collision between a bus and a truck at Konabari in Kamarkhand upazila.\n\nOne of the deceased was identified as Fazlul Haque, a 78-year-old freedom fighter from Bogra district. Identities of other victims are yet to be established, reports UNB.\n\nThe accident occurred around 7:30am on Bangabandhu Bridge West Link highway.\n\n"The Mymensingh-bound bus ferrying passengers from Bogra crashed into the truck coming from the opposite direction this morning," said Officer-in-Charge of Bangabandhu Bridge west police station Mosaddek Hossain.\n\nThe impact of the collision was such that five people were killed on the spot, while 23 others sustained injuries, he said.\n\nThose injured were immediately rushed to 250-bed Bangamata Sheikh Fazilatunnesa Mujib General Hospital. "Of the 15 injured, seven people are said to be in a critical condition," the officer said.\n\nThe bodies have been sent to the local hospital morgue for autopsy.\n\nMeanwhile, in Rajshahi, another man died and at least eight others were injured in a head-on collision between a bus and a truck in the city.\n\nThe incident took place around 11am on Tuesday when smoke from burning trash covered the Citihat area, reducing visibility on the road.\n\nFollowing the accident, Fire Service and Civil Defence rushed to the spot rescued the injured and sent them to Rajshahi Medical College Hospital (RMCH).\n\nOne of the victims was declared dead at the hospital. The deceased identified as Md Zaman was the truck driver.\n\nShah Makhdum police station OC Saiful Islam said: “The road has been cleared off. The injured are receiving treatment at the RMCH. After the legal process, the body of the victim will be handed over to the family.”\n\nRoad accidents in Bangladesh\n\nRoad accidents are one of the leading causes of deaths in Bangladesh, as 37,170 people were killed in 26,902 accidents across the country in the past five years.\n\nIn January 2021 alone, as many as 484 people were killed and 673 injured in 427 road accidents across Bangladesh -- a 25.58% rise year-on-year, according to Road Safety Foundation (RSF).\n\nAt least 445 lives were lost in 340 road accidents in January last year, RSF said on Saturday.\n\nWorld Bank Report on road safety\n\nAs per a World Bank report, published in February 2020, Bangladesh needs to invest an estimated extra $7.8 billion over the next decade to halve its road crash fatalities.\n\nThe report attributed the high death rate on Bangladesh roads to a chronic lack of investment in systemic, targeted, and sustained road safety programs.\n\nThe annual road crash deaths per capita in Bangladesh are twice the average rate for high-income countries and five times that of the best-performing countries in the world, it said.\n\nChildren and the working-age population are most affected by road crash injuries in Bangladesh, the World Bank report added.\n\n\n\n'

In [ ]:
#Extracting car type from the article
car_record = 'Ambulance|Bus|Truck|Motor Cycle|Auto Rickshaw|Auto Tempo|Cargo Van|Covered Van|Delivery Van|Microbus |Jeep|Minibus|Motor Cycle|Motor Bike|Pick Up|Private car|Tanker|Texicab|CNG|Tractor'
re.findall(car_record, article.text, re.IGNORECASE)

['bus', 'truck', 'bus', 'truck', 'bus', 'truck', 'bus', 'truck', 'truck']

In [ ]:
#Extracting city name from the article
city_record = 'Dhaka|Chittagong|Khulna|Rajshahi|Gazipur|Sylhet|Mymensingh|Barisal|Rangpur|Comilla|Narayanganj'
re.findall(city_record, article.text, re.IGNORECASE)

['Dhaka', 'Rajshahi', 'Mymensingh', 'Rajshahi', 'Rajshahi']

In [ ]:
#finding the numbers
a_string = article.text

numbers = []
for word in a_string.split():
   if word.isdigit():
      numbers.append(int(word))

print(numbers)

[23, 23, 15, 23, 15, 2021, 484, 673, 427, 445, 340]